* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.nav {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  /* max-width: 375px;   */
  justify-content: space-between;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
}


.nav-but{
font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    width: 9.375rem;
    height: 3rem;
  
   display: flex;
   align-items: center;
   justify-content: center;
    border-radius: 0.5rem;
    background-color: #e8eff2;
    color: #162542;
    border: none;
    text-transform: uppercase;
 
}



.header-h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  color: #162542;
  text-transform: uppercase;
  padding: 0rem 1.5rem;
}

.header-p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #7b8bad;
  padding: 2rem 1.5rem;
}

.header-but-cont {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto;
  padding: 0rem 1.5rem;
  column-gap: 2rem;
  padding-bottom: 1.5rem;
  width: 100%;
  /* max-width: 375px; */
  /* margin: 0rem 1.5rem; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* max-width: 375px; */
}

.header-but {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  width: 9.375rem;
  height: 3rem;
  background-color: #f16718;
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.release-text {
  align-self: center;
  color: #7b8bad;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
  width: 7.9375rem;
  text-transform: uppercase;
}

.keyboard {
  padding-left: 1.5em;
  border-top-left-radius: 2.625rem;
  border-bottom-left-radius: 2.625rem;

  width: 100%;
  max-width: 23.5rem;
  height: 20.6875rem;
}

.keyboard-cont {
  padding-top: 3.75rem;
  max-width: 23.5rem;
  width: 100%;
  align-self: center;
}

.header-img-cont {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.5625rem;
  padding-top: 1.25rem;
  width: 100%;
  justify-content: center;
  /* max-width: 27.5rem; */
  padding-right: 1.5rem;
  /* max-width: 37.5rem; */
}

.glass {
  width: 100%;
  height: 12.0625rem;
  max-width: 13.75rem;
  border-radius: 2.625rem;
  /* padding-right: 24px; */
}



.phone {
  width: 100%;
  max-width: 8.0625rem;
 
 
  height: 12.0625rem;
  border-top-right-radius: 1.625rem;
  border-bottom-right-radius: 1.625rem;
  width: 16.125rem;
  background-image: url("img/mobile/img-phone-mob.jpg");
  position: relative;
background-repeat: no-repeat;
background-size: cover;

}





.color-phone{
  background-color: #DF5F16;
    position: absolute;
    z-index: 1;
    width: 100%;
   max-width: 8.0625rem;
   height: 12.0625rem;
   border-top-right-radius: 1.625rem;
  border-bottom-right-radius: 1.625rem;
  mix-blend-mode: multiply;



}





.card-pic {
  width: 4.0625rem;
  height: 4.0625rem;
  background: #f16718;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 6.875rem;
}

.card-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.last {
  margin-bottom: 6.25rem;
}

.card-cont > h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  width: 13.4375rem;
  color: #162542;

  text-align: center;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card-cont > p {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #7b8bad;
}

.main-top-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-top-cont > h1 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.25rem;
  width: 15.9375rem;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  color: #162542;
  margin-top: 4.6875rem;
  margin-bottom: 1.5rem;
}

.main-top-cont > p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
  color: #7b8bad;
}

.footer {
  padding: 0rem 1.5rem 3.125rem 1.5rem;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #7b8bad;
}

.main {
  padding: 0 1.5rem;
}

.keyboard-tab {
  display: none;
}

.glass-tab {
  display: none;
}

.phone-tab {
  display: none;
}

@media screen and (min-width: 768px) {


  .nav-but {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    width: 10.9375rem;
    height: 3.625rem;
  
   display: flex;
   align-items: center;
   justify-content: center;
    border-radius: 0.5rem;
    background-color: #e8eff2;
    color: #162542;
    border: none;
    text-transform: uppercase;
  }
  



  .glass {
    display: none;
  }

  .phone {
    display: none;
  }

  .keyboard {
    display: none;
  }

  .keyboard-tab {
    display: block;
    /* height: 100%;
    width: 100%; */
    border-top-left-radius: 1.5625rem;
    border-bottom-left-radius: 1.5625rem;
    padding-left: 0;
    width: 29.875rem;
    height: 26.5625rem;
    margin-left: 4.3125rem;
  }

  .header-cont {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

  .keyboard-cont {
    height: 100%;
    padding-top: 0;
    width: 29.875rem;
    height: 26.5625rem;
    overflow: hidden;
  }

  .header-p {
    width: 21.1875rem;
  }

  .header-h1 {
    width: 21.1875rem;
  }

  .nav {
    padding: 2.5rem 2.5rem 3.875rem 2.5rem;
  }

  .header-but-cont {
    width: 21.1875rem;
    
  }


  .header-but{
    width: 10.9375rem;
    height: 3.625rem;

   display: flex;
   align-items: center;
   justify-content: center;
  }



  .tab-layout {
    padding-left: 2.5rem;
    padding-right: 4.3125rem;
    overflow: hidden;
  }

  .header-h1 {
    padding: 0;
  }

  .header-p {
    padding: 2.1875rem 0rem;
  }

  .header-but-cont {
    padding: 0;
  }

  .glass-tab {
    display: block;
    width: 27.8125rem;
    height: 20rem;
    border-radius: 1.5625rem;
  }

  .phone-tab {
    display: block;
    width: 13.375rem;
    height: 20rem;
    border-radius: 1.5625rem;
    background-image: url("img/desktop/desktop-pone-pic.jpg");
    position: relative;
background-repeat: no-repeat;
background-size: cover;
 
  }


.color-tab{
 
    background-color: #DF5F16;
    position: absolute;
    z-index: 1;
   width: 13.375rem;
   height: 20rem;
   border-radius: 1.5625rem;
  mix-blend-mode: multiply;
  

}


  .header-img-cont {
    width: 100%;
    max-width: 100%;
    column-gap: 1.875rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    justify-content: center;
  }

  .main-top-cont {
    display: grid;
    grid-template-columns: auto auto;
  }

  .main-top-cont > p {
    width: 24.875rem;
  }

  .main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 7rem;
    padding: 0 2.5rem;
    justify-content: center;
    width: 100%;
    max-width: 46.125rem;
  }

  .card-cont {
    padding: 4.5rem 0rem;
    margin: 0;
    display: flex;
    align-items: flex-start;
  }

  .card-cont > h1 {
    text-align: left;
  }

  .card-cont > p {
    text-align: left;
    width: 17.5625rem;
  }

  .footer {
    margin-top: 8.875rem;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.phone-desk {
  display: none;
}

.glass-desk {
  display: none;
}

.keyboard-desk {
  display: none;
}

.square {
  display: none;
}


.square-2{
  display: none;
} 

@media screen and (min-width: 1440px) {
  .desktop-layout {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: .625rem;
  }

  .header {
    width: 100%;
    max-width: 90rem;
  }

  .header-cont {
    padding-left: 10.3125rem;
  }

  .main-top-cont {
    display: flex;
  }

  .main-top-cont > h1 {
    width: 15.9375rem;
  }

  .main-top-cont > p {
    width: 15.9375rem;
  }

  .main {
    padding: 0;
    display: flex;
    column-gap: 1.875rem;
  }

  .glass-tab {
    display: none;
  }

  .phone-tab {
    display: none;
  }

  .keyboard-tab {
    display: none;
  }

  .phone-desk {
    display: block;
    height: 30rem;
    width: 15.9375rem;
    border-radius: 1.5625rem;
    margin-left: 10.3125rem;
    background-image: url("img/desktop/desktop-pone-pic.jpg");
    position: relative;
background-repeat: no-repeat;
background-size: cover;
    

  }

  .glass-desk {
    display: block;
    width: 100%;
    height: 30rem;
    border-radius: 1.5625rem;
  }

  .keyboard-desk {
    display: block;
    height: 30rem;
    border-radius: 1.5625rem;
  }

  .keyboard-cont {
    max-width: none;
    display: flex;
    column-gap:1.875rem ;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .header-h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .header-p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.625rem;
    width: 27.8125rem;
  }
  .square {
    display: block;
    width: 15.9375rem;
    height: 13.75rem;
  }

  /* .squar-pic{


  
} */

  .tab-layout {
    padding-right: 7.8125rem;
    padding-left: 0;
  }

  .nav {
    padding: 3.4375rem 10.3125rem 5.1875rem 10.3125rem;
  }


  .header-img-cont{
    grid-template-columns: auto auto auto;
    padding: 0;
    position: relative;
    overflow: hidden;

  }

.main-top-cont{
margin-left:7.8125rem ;
margin-right:10.3125rem;

}

.square-2 {
  display: block;
  width: 15.9375rem;

  position: absolute;
  left: -7.5625rem;
  bottom: 0rem;
}

.card-cont > h1{

  width: 210px;


}


.desk-heading-layout{

  display: block;
}


.card-cont > p{

  width: 15.9375rem;


}



  .color{
    background-color: #DF5F16;
    position: absolute;
    z-index: 1;
   width: 15.9375rem;
   height: 30rem;
   border-radius: 1.5625rem;
  mix-blend-mode: multiply;
  }


}


.nav-but:hover{
  cursor: pointer;
  background-color:#162542;
  color: white;
  
}


.header-but:hover{
  cursor: pointer;
  background-color: #FF9B62;
  ;
  
}